In [6]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv("ITSM_data.csv")
print(df.shape)

(46606, 25)

C:\Users\akash\AppData\Local\Temp\ipykernel_13644\3335545329.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("ITSM_data.csv")

In [ ]:
print(df.head())

     CI_Name          CI_Cat              CI_Subcat        WBS Incident_ID  \
0  SUB000508  subapplication  Web Based Application  WBS000162   IM0000004
1  WBA000124     application  Web Based Application  WBS000088   IM0000005
2  DTA000024     application    Desktop Application  WBS000092   IM0000006
3  WBA000124     application  Web Based Application  WBS000088   IM0000011
4  WBA000124     application  Web Based Application  WBS000088   IM0000012

   Status Impact Urgency  Priority  number_cnt  ...      Reopen_Time  \
0  Closed      4       4       4.0    0.601292  ...              NaN
1  Closed      3       3       3.0    0.415050  ...  2/12/2023 12:31
2  Closed     NS       3       NaN    0.517551  ...              NaN
3  Closed      4       4       4.0    0.642927  ...              NaN
4  Closed      4       4       4.0    0.345258  ...              NaN

      Resolved_Time        Close_Time  Handle_Time_hrs  \
0   4/11/2023 13:50   4/11/2023 13:51   3,87,16,91,111
1   2/12/2023 12:36   2/12/2023 12:36   4,35,47,86,389
2  13-01-2024 15:12  13-01-2024 15:13   4,84,31,19,444
3  14-11-2023 09:31  14-11-2023 09:31   4,32,18,33,333
4   8/11/2023 13:55   8/11/2023 13:55   3,38,39,03,333

                   Closure_Code No_of_Related_Interactions  \
0                         Other                        1.0
1                      Software                        1.0
2  No error - works as designed                        1.0
3                Operator error                        1.0
4                         Other                        1.0

  Related_Interaction No_of_Related_Incidents No_of_Related_Changes  \
0           SD0000007                     2.0                   NaN
1           SD0000011                     1.0                   NaN
2           SD0000017                     NaN                   NaN
3           SD0000025                     NaN                   NaN
4           SD0000029                     NaN                   NaN

  Related_Change
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN

[5 rows x 25 columns]

In [8]:
NAs = pd.concat([df.isnull().sum()], axis = 1, keys = ["Missing count"])
NAs[NAs.sum(axis=1)>0]

                            Missing count
CI_Cat                                111
CI_Subcat                             111
Priority                             1380
No_of_Reassignments                     1
Reopen_Time                         44322
Resolved_Time                        1780
Handle_Time_hrs                         1
Closure_Code                          460
No_of_Related_Interactions            114
No_of_Related_Incidents             45384
No_of_Related_Changes               46046
Related_Change                      46046